<h1><%= @dish.name %></h1>
<br>
<p><%= @dish.description %></p>
<br>
<p>Total Calorie Count: <%= @dish.total_calories %></p>
<br>
<p>Chef: <%= @chef.name %></p>
<br>
<section id="ingredients">
<h3>Ingredients</h3>
  <ul id="ingredient-list">
    <% @dish.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
  <div id= "add-ingredient">
    <p>Add Ingredient to Dish</p>
    <%= form_with url: dish_ingredients_path(@dish), method: :post, local: true do |f| %>
      <%= f.label :ingredient_id, "Ingredient ID:" %>
      <%= f.text_field :ingredient_id %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</section>